<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" placeholder="Add a catchy title" required>
                <div class="invalid-feedback"> Please enter a title </div>
        </div>
         
        
       <div  class="mb-3"> 
            <label for="Description" class="form-label">Description</label>
             <textarea name="listing[description]" class="form-control" required ></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
    </div>
      
       <div  class="mb-3">
          <label for="Image" class="form-label">Upload Image </label>
          <input type="file" name="listing[image][url]"placeholder="enter image link/URL" class="form-control"  required>
    </div>
   <div class="row">
       <div  class="mb-3 col-md-4">
            <label for="Price" class="form-label">Price</label>
           <input  name="listing[price]" placeholder="1200"  class="form-control" required>
           <div class="invalid-feedback">Price should be valid</div>
       </div>
  
        <div  class="mb-3 col-md-8">
            <label for="Country" class="form-label">Country</label>
            <input type="text" name="listing[country]"  class="form-control" placeholder="India" required>
               <div class="invalid-feedback">Country name should be valid</div>
         </div>
        </div>
      
         <div  class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]"  placeholder="Jaipur,Rajsthan" class="form-control" required>
            <div class="invalid-feedback">Location name should be valid</div>
         </div>
         <br>
       <div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <select name="listing[category]" class="form-select" required>
    <option value="" selected disabled>Select category</option>
    <option value="Mountains">Mountains</option>
    <option value="Domes">Domes</option>
    <option value="City">Iconic Cities</option>
    <option value="Camping">Camping</option>
    <option value="Farms">Farms</option>
    <option value="Beachfront">Beachfront</option>
    <option value="arctic">Arctic</option>
     <option value="Rooms">Rooms</option>
  </select>
  <div class="invalid-feedback">Please select a category.</div>
</div>

<br><br>
 <button class="btn btn-dark add-btn">Add</button>
 <br><br>
    </form>
</div>
</div>


    
</body>
</html>